# NB: keep in sync (manually) with requirements.txt

# Why not `pip freeze`? Because
# - Numpy/scipy/mpl... are already imported when opening Colab,
#   and so cannot be down/upgraded without restarting the kernel
#   (doable, especially since Colab restarts automatically,
#   https://stackoverflow.com/a/60237923 , but still cumbersome).
# - Colab only works w/ mpl 3.2. My Mac requires 3.3.
# - Much slower than just installing abstract (unpinned) deps.
#
# ⇒ manually pin top-level dependencies, contrary to general recommendation
# that apps/notebooks (unlike libs/packages) should use `pip freeze`, while also
# (for easy update/refresh) maintaining (in VCS) a list of direct/top-level deps.

matplotlib==3.2.*

p_tqdm~=1.3
threadpoolctl
git+https://github.com/patnr/TPFA-ResSim.git

# vim: ft=requirements
