# Top-level (direct) requirements
# This list:
# - Is manually maintained, while requirements.txt is made by pip-freeze
# - Usually specifies "abstract" (non-pinned) dependencies
# - Is used (rather than requirements.txt) by colab_bootstrap.sh
#   because (while it weakens reproducibility) it reduces the amount of
#   incompatibility errors printed by pip (of which not all are fatal),
#   as seen when using the colab_bootstrap.sh -- --debug,
#   and yields faster installation.

jupyter
jupytext
# Colab only works with this version
matplotlib~=3.2.2
multiprocessing-on-dill==3.5.0a4
scipy
tqdm

# By Patrick
mpl-tools==0.2.39
patlib==0.3.5
struct-tools==0.2.5

# Dev tools
#
# It'd be nice to make these optional, but that will complicate
# the process when some of the above (non-optional) dependencies
# are changed, which would require re-init'ing the python env,
# to remove the dev tools, before re-installing and pip freeze.
ipython

autopep8
flake8

pre-commit

ipdb
pudb
pytest

PyQt5
qtpy

# vim: ft=requirements
